name: CI/CD for Android Compose App on Pull Request

on:
  pull_request:
    branches:
      - master

jobs:
  build-and-distribute:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Set up Android SDK
        uses: android-actions/setup-android@v2

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Install dependencies
        run: ./gradlew --no-daemon :app:dependencies

      - name: Run Detekt (Static Code Analysis)
        run: ./gradlew detekt

      - name: Run Unit Tests
        run: ./gradlew test

      - name: Build the project
        run: ./gradlew assembleDebug

      - name: Save APK as artifact
        uses: actions/upload-artifact@v3
        with:
          name: app-debug.apk
          path: app/build/outputs/apk/debug/app-debug.apk

      - name: Upload to Firebase App Distribution
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        run: |
          npm install -g firebase-tools

          firebase appdistribution:distribute \
            app/build/outputs/apk/debug/app-debug.apk \
            --app 1:29460394912:android:41204d9a6f6e779eed6ac5 \
            --release-notes "Automated build from PR #${{ github.event.number }}" \